.header {
  background-color: rgb(64, 62, 219);
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.textInput {
  padding: 4px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
